<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <!-- Recuerda linkear tu CSS desde la carpeta de estáticos con un url_for, o incluir la CDN de bootstrap si usarás Bootstrap para tu CSS -->
            <title>Autores</title>
        </head>
        <body>
            <div class="container-2">
                <div>
                    <form action="/crear/libro" method="post">
                        <div>
                            <label for="titulo">Titulo:</label>
                            <input type="text" name="titulo">
                        </div>
                        <div>
                            <label for="numero_paginas">Numero de paginas:</label>
                            <input type="number" name="numero_paginas">
                        </div>
                        <input type="submit" value="Crear">
                    </form>
                </div>
                <div>
                    <h1>Todos los libros</h1>
                <div>
                    <table> <!-- Falta el thead con los th para el encabezado de la tabla, ojo con eso -->
                        <tbody>
                            {% for d in libros %}
                            <tr>
                                <td>
                                    {{d.titulo}}
                                </td>                           
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <a href="/">Home</a>
                </div>    
                </div>
            </div>
            
        </body>
    </html> 
    </body>
</html>
